#  Cấu hình Port cho Web Server 
PORT= "number"

#  Cấu hình Cơ sở dữ liệu 
# sample MongoDB Compass
MONGODB_URI=mongodb://localhost:xxxx/name_database
# sample MongoDB Atlas
MONGODB_CONNECTION_STRING=xxxxxxxxxxxxxxxx

#  Cấu hình Lưu trữ Notes (Chọn 1 trong 3: MONGODB, JSON, MEMORY) 
# MONGODB: Lưu vào cơ sở dữ liệu MongoDB
# JSON: Lưu vào file vật lý data.json
# MEMORY: Lưu vào RAM (Dữ liệu sẽ mất khi tắt app hoặc thoát tiến trình run)
REPO_TYPE=JSON

# dành cho team tech phân bổ lại học phí sản phẩm / sử dụng allocate
CRM_TOKEN=xxxxxxxx

# Outlook / Azure Configuration
OUTLOOK_CLIENT_ID=your_azure_client_id
OUTLOOK_TENANT_ID=your_azure_tenant_id
OUTLOOK_SEARCH_PHRASE="xem phiếu hỗ trợ"
OUTLOOK_SEARCH_LIMIT=10
# Xoá trắng giá trị sau dấu bằng để nhận mail từ mọi nguồn hoặc chỉ nhận mail từ những sender mà bạn muốn
OUTLOOK_TARGET_MAILBOX=your_email@domain.com
