#  Cấu hình Port cho Web Server 
PORT=5000

#  Cấu hình Cơ sở dữ liệu 
# Định dạng: mongodb://<username>:<password>@<host>:<port>/<db_name>
MONGODB_URI=mongodb://localhost:27017/note_app

#  Cấu hình Lưu trữ (Chọn 1 trong 3: MONGODB, JSON, MEMORY) 
# MONGODB: Lưu vào cơ sở dữ liệu MongoDB
# JSON: Lưu vào file vật lý data.json
# MEMORY: Lưu vào RAM (Dữ liệu sẽ mất khi tắt app)
REPO_TYPE=MONGODB
